body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: auto;
    display: block;
    margin-top: 69px;
    z-index: 1;
}

header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    top:0;
    z-index: 2;
    background: black;
}

.navbar {
    float: right;
    display: inline;
}

#logo {
    float: left;
    height: 50px;
    padding-left: 10px;
    margin-top: 10px;
}

.navbar p {

    display: inline-block;
    padding: 0 20px;
}
a {
    color: seashell;
}

.mission {
    display: flex;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg") no-repeat scroll center center;
}

#missionText {
    display:flex;
    background: black;
    height: 100px;
    align-content:center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
article {
    scroll-margin-top: 0 ;
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
    z-index: 1;
    margin-top: 69px;
}
h2 {
    margin-bottom: 5px;
    width: 100%;
}
h4 {
    margin-top: 5px;
}


.items {
    display: inline-flex;
    width: 1000px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    height: 200px;
    width: 300px;
}
.items div p {
    margin-top: 10px;
}
.locations {
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg") no-repeat scroll top left ;

    height: 550px;
    max-width: 100%;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#loc {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
}
.locations div {
    width: 300px;
    opacity: 1;
    text-align: center;

    background: black;
    margin-top: 15px;

}